//Font-Face & mixin
@font-face {
    font-family: 'intro-rust';
    src: url('../fonts/IntroRustG-Base2Line.otf');
}
@font-face {
    font-family: 'intro-plain';
    src: url('../fonts/Intro.otf');
}
@font-face {
    font-family: 'intro-inline';
    src: url('../fonts/Intro-Inline.otf');
}
//Font-sizes
$h1-size: 3.625rem;
$h2-size: 3.188rem;
$h3-size: 1.875rem;
$h4-size: 1.313rem;
$h5-size: 1.125rem;
$h6-size: 1rem;
$navbar-font-size: 0.8rem;
$button-font-size: 0.875rem;
$body-font-size: 1rem;
$floating-program-text-size: 12.63rem;
$price-tag-size: 3.688rem;
$footer-item-size: 0.8rem;
$footer-icon-size: 2.1rem;
//Font-Familys
$font-1: 'intro-plain';
$font-2: 'Playfair Display', serif;
$font-3: 'Minion Pro Medium', sans-serif;
$font-4: 'intro-rust';
$font-5: 'intro-inline';
$body-font: $font-3;

